:root {
    --primary: #111;
    --secondary: #333;
    --text-color: #fff;
}

body,html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Barlow Condensed", sans-serif;
}

/* 
Tudo isso pra um background-attachment: fixed, funcionar na porcaria de Iphone :| 
UMA Linha Virou 19 LINHASSSS!!!! 
*/

.backHero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.contHero {
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 5rem;
}

.zi-2{
    z-index: 20000;
}

nav{
    position: fixed;
    width: 75vw;
    bottom: 0px;
    left: 12.5vw;
    background: #bfb4b4;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: .5rem;
    z-index: 10000;
}

nav a{
    text-decoration: none;
    color: #111;
}

nav a:active, nav a:clicked{
    font-weight: bold;
}

#btn_whats{
    background: linear-gradient(#fff, ghostwhite);
    color: #000;
    padding: .75rem;
    border-radius: 50% !important;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 500000;

}

#img-about:hover{
    transform: scale(1.05);
    transition: all .3s ease-in-out;
}

#mouse{
    animation: bouncing 1s infinite alternate ease-in
}

@keyframes bouncing {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(25%)
    }
}