:root {
    --primary: #111;
    --secondary: #333;
    --text-color: #fff;
}

body,html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Barlow Condensed", sans-serif;
}

/* 
Tudo isso pra um background-attachment: fixed, funcionar na porcaria de Iphone :| 
UMA Linha Virou 19 LINHASSSS!!!! 
*/

.backHero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/banner.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.contHero {
    height: 100vh;
    position: relative;
    z-index: 1;
    padding: 5rem;
}

.zi-2{
    z-index: 20000;
}

nav{
    position: fixed;
    width: 75vw;
    bottom: 0px;
    left: 12.5vw;
    background: #bfb4b4;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: .5rem;
    z-index: 10000;
}

nav a{
    text-decoration: none;
    color: #111;
}

nav a:active, nav a:clicked{
    font-weight: bold;
}

#btn_whats{
    background: linear-gradient(#fff, ghostwhite);
    color: #000;
    padding: .75rem;
    border-radius: 50% !important;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 500000;

}

.img-card{
    background: url('../assets/img/about_me.jpeg') no-repeat;
    background-position: center 20%;
    background-size: cover;
}

#img-about:hover{
    transform: scale(1.05);
    border-radius: 20px;
    transition: all .3s ease-in-out;
}

#mouse{
    animation: bouncing 1s infinite alternate ease-in
}

@keyframes bouncing {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(25%)
    }
}

/* Results */

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 5px;
    height: 80vh !important;
}

.parent div{
    background-size: cover;
}    

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 5;
    background: url('../assets/img/result_1.jpeg') no-repeat center;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 8 / span 8;
    grid-column-start: 3;
    background: url('../assets/img/result_3.jpeg') no-repeat center;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 7 / span 7;
    grid-column-start: 1;
    grid-row-start: 6;
    background: url('../assets/img/result_4.jpeg') no-repeat center;
}

.div4 {
    grid-column: span 4 / span 4;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 9;
    background: url('../assets/img/result_6.jpeg') no-repeat top;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 1;
    background: url('../assets/img/result_2.jpeg') no-repeat center;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 5;
    background: url('../assets/img/result_5.jpeg') no-repeat center;
}
        